---
import Icon from "../icon.astro";
import Layout from "../layout.astro";
---

<Layout
  title="DTUtils"
  description="A gamut of productivity utilities for developers"
>
  <div
    class="flex flex-col justify-start items-center h-dvh py-20 px-40 bg-background gap-16"
  >
  <a href="/test">sdaaf</a>
  </div>
</Layout>
